# Copyright (C) 2024 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    class early_hal
    user nfc
    group nfc
    override
    disabled

on property:ro.boot.product.hardware.sku=6
    enable vendor.nfc_hal_service
